@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dream Avenue";
  src: url("./../public/fonts/Dream\ Avenue.ttf");
}
@font-face {
  font-family: "TT Drugs Trial";
  src: url("./../public/fonts/TT\ Drugs\ Trial.ttf");
}
